body { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    border: solid black 2px;
}

.square {
    border: solid red 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
}




/* player 1 is always x and player 2 is always o */
/* while there are numbers in the array, play turn */
/* or while no one has won yet */